<ion-header-bar class="bar-positive">
</ion-header-bar>
<ion-content class="padding">
   <form ng-submit="validateUser()">
      <div class="padding">
         <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="text" ng-model="user.email">
         </label>
         <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="user.password">
         </label>
         <button class="button button-block button-calm">Sign In</button>
      </div>
   </form>
</ion-content>